<!--index.ejs-->
<table class = "table">
	<tr><td><%= person.name %></td><td><%= person.age %></td></tr>
</table>
<form action = "/person/delete/<%= person.id %>" method = "POST">
	<button type = "submit">Delete</button>
</form>